.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 748.5px;
  height: fit-content;
  margin: 0 auto;
  border: 1px solid #333;
}

.square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #333;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 2.11%;
}

.white {
  background-color: #f0d9b5;
}

.dark {
  background-color: #5C4033;
  color: white;
}

.knight {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}

.label {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
